@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.Home {
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	background-color: black;
}

#content {
	color: rgb(255, 255, 255);
	font-size: 1rem;
	grid-area: main;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	width: 100%;
	/* border-top : 1px solid rgb(124, 124, 124); */
	background-color: #000000;
}

@keyframes animate-in-and-out {
	entry 100%  {
		opacity: 1; transform: translateY(0);
	}

	exit 0% {
		opacity: 1; transform: translateY(0);
	}
	exit 100% {
		opacity: 0.5; transform: scale(0.90);
	}
}

@keyframes animate-in-rest {
	entry 20% {
		opacity: 0.2; transform: translateY(50%);
	}
	entry 100%  {
		opacity: 1; transform: translateY(0);
	}

	exit 0% {
		opacity: 1; transform: translateY(0);
	}
	exit 100% {
		opacity: 0.5; transform: scale(0.90);
	}
}

#content div:not(#aboutText) {
	animation: linear animate-in-rest;
	animation-timeline: view();
}

#content div {
	animation: linear animate-in-and-out;
	animation-timeline: view();
}

#aboutText {
	padding: 0 25% 0;
	height: 50dvh;
	align-content: center;
}

#aboutText h2 {
	color: rgb(155, 138, 255);
	margin-top: 0;
	font-size: 2rem;
	text-shadow: rgb(111, 79, 163) 0 0rem 0.5rem;
	font-weight: 600;
}

#aboutText p {
	color: rgb(187, 189, 211);
	text-shadow: 0 0rem 0.1rem rgb(111, 79, 163);
	font-family: "JetBrains Mono", monospace;
	font-weight: 500;
	font-size: 1.01rem;
	text-align: justify;
	line-height: 1.6;
}

#aboutText p b {
	font-weight: 700;
	color: rgb(216, 217, 255);
}

#skillsText {
	padding: 0 0 0.5rem 25%;
	height: 50dvh;
	align-content: center;
}

#skillsText h2 {
	color: rgb(155, 138, 255);
	margin-top: 0;
	font-family: 'Fira Code';
	font-size: 2rem;
	text-shadow: rgb(111, 79, 163) 0 0rem 0.5rem;
	font-weight: 600;
}

#skillsText ul {
	color: rgb(187, 189, 211);
	text-shadow: 0 0rem 0.1rem rgb(111, 79, 163);
	font-family: "JetBrains Mono", monospace;
	font-weight: 500;
	font-size: 1.01rem;
	text-align: justify;
	line-height: 1.6;
}

/* .skillsText p b {
	font-weight: 700;
	color: rgb(216, 217, 255);
} */
.header {
	grid-area: header;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 25%;
	height: 30vh;
	width: auto;
	background-color: #000000;
}

.header h2 {
	font-size: 2.7rem;
	font-family: "JetBrains Mono", monospace;
	font-weight: 750;
	color: rgb(216, 217, 255);
	text-shadow: rgb(69, 64, 78) 0 0rem 0.2rem;
	margin-bottom: 1rem;
}
.header nav img {
	max-width: 100%;
	height: 30px;
}

.header nav button {
	margin: 0 1rem;
	background: none;
	border: none;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.header nav button:hover {
	transform: scale(1.2) translateY(-5px);
}

.footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
	height: 20vh;
	width: 100%;
	background-color: #000000;
	color: rgba(155, 155, 155, 0.461);
	font-size: 0.8rem;
	font-family: "JetBrains Mono", monospace;
}

.footer a {
	color: rgba(155, 138, 255, 0.7);
	text-decoration: none;
	font-weight: 600;
}

.footer a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 900px) {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html,
	body {
		height: 100dvh;
	}

	.Home {
		display: flex;
		flex-direction: column;
		height: 100dvh;
	}

	.rootEnd {
		display: flex;
		flex-direction: column;
		height: 100dvh;
	}

	.header {
		min-height: 25dvh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
	}

	.header h2 {
		font-size: 2rem;
		padding-bottom: 0.5rem;
	}
	.header nav {
		padding-left: 0.3rem;
	}
	.header nav button {
		margin: 0 0.5rem;
	}
	#content {
		padding: 15% 5% 0 5%;
		width: 100%;
		display: flex;
		flex: auto;
		z-index: 2;
	}
	#aboutText {
		padding: 0 3% 0 7%;
		min-height: max-content;
	}
	#aboutText h2 {
		font-size: 1.3rem;
		text-align: left;
		padding-bottom: 0.7rem;
	}
	#aboutText p {
		font-size: 0.78rem;
		padding-bottom: 0.6rem;
		text-align: left;
	}
	#skillsText {
		padding: 0 3% 0 7%;
		min-height: max-content;
	}
	#skillsText h2 {
		font-family: 'Fira Code', monospace;
		font-size: 1.3rem;
		text-align: left;
		padding-bottom: 0.7rem;
	}
	#skillsText ul {
		font-size: 0.78rem;
		padding-bottom: 0.6rem;
		text-align: left;
	}
	.footer {
		max-height: 15dvh;
		height: auto;
		display: flex;
		flex: auto;
		font-size: 0.7rem;
		text-align: center;
		z-index: 1;
	}
}